<div class="container">
  <h2 class="py-2"><b>Registro de Contáctos</b></h2>

  <div class="row">
    <div class="col">
      <form class="bg-form rounded py-2 px-4 w-100">
        <div class="form-row row">
          <div class="col-sm-12 col-md-6 col-lg-4 form-group">
            <label for="rut">Rut:</label>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese el rut del nuevo usuario..."
              [(ngModel)]="rut"
              [ngModelOptions]="{ standalone: true }"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese el nombre del nuevo usuario..."
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              oninput="javascript: if (this.value.split(' ').length > 1) this.value = this.value.split(' ')[0]"
              onkeyup="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)"
            />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="lastname">Apellido:</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese el apellido del nuevo usuario..."
              [(ngModel)]="lastname"
              [ngModelOptions]="{ standalone: true }"
              oninput="javascript: if (this.value.split(' ').length > 1) this.value = this.value.split(' ')[0]"
              onkeyup="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)"
            />
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-0">
            <label for="lastname">Número de teléfono:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">+56 9</span>
              </div>
              <input
                type="number"
                class="form-control"
                placeholder="1234 5678"
                [(ngModel)]="phonenumber"
                [ngModelOptions]="{ standalone: true }"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8"
              />
            </div>
          </div>
        </div>
        <div class="text-center w-100">
          <button
            type="submit"
            class="btn btn-primary px-5 rounded"
            (click)="createUser()"
          >
            Registrar
          </button>

          <button
            type="submit"
            class="btn btn-info px-5 ml-2 rounded"
            (click)="genRandomUser()"
          >
            Random
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <ul class="list-group">
        <li
          *ngFor="let user of users; let i = index"
          class="list-group-item p-0"
        >
          <button
            type="button"
            class="btn w-100 text-left p-2 pl-4"
            (click)="setCurrentIndex(i)"
          >
            {{ user.firstname | titlecase }}
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="data-container bg-form w-100 h-100 rounded py-3">
        <h3><b>Datos del contacto</b></h3>
        <p class="box-fields">Rut</p>
        <p class="box-fields">Nombre</p>
        <p class="box-fields">Apellido</p>
        <p class="box-fields">Telefono</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-secondary rounded-left"
            (click)="clearIndex()"
          >
            Limpiar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="currentIndex === null"
            (click)="openDialog()"
          >
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger rounded-right"
            [disabled]="currentIndex === null"
            (click)="deleteUser()"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark w-100 py-2 text-center">
  <p>P. Scarton - C. González - S. Villalon - I. Araya &copy; 2020</p>
</footer>
